body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888a8c;
    padding: 0;
    margin: 0;
    background-color: #06080a;
}

* {
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

a {
    font-size: 14px;
    color: #9a9a9a;
    text-decoration: none;
    text-transform: capitalize;
}

#login a {
    color: #888a8c;
}

#logo {
    float: left;
    height: 50px;
}

#logo img{
    height: 100%;
}

#login {
    float: right;
    height: 50px;
}

#login a {
    float: left;
    vertical-align: middle;
    padding: 15 10 0 10;
}

header nav {
    width: 100%;
    background-color: #009b3a;
}

#top-nav .left{
    float: left;
}

#top-nav .right {
    float: right;
}

#nav-icon {
    display: none;
}

header nav a {
    color: #fff;
    padding: 15px;
    line-height: 40px;
}

#lancamentos {
    margin-top: 51px;
}

.cabecario {
    box-sizing: border-box;
    background-color: #151719;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
    overflow: auto;
}

.cabecario h1{
    font-size: 18px;
    color: #fff;
    float: left;
}

.cabecario a {
    float: right;
    margin-top: 18px;
}

#grid-lancamentos {
    display: grid;
    grid-template-columns: 80% 20%;
}

#grid-lancamentos .grid-episodios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin-right: 15px;
}

.episodios {
    background-color: #151719;
    padding: 9px;
    line-height: 0.5;
}

.episodios h1 {
    font-size: 1em;
}

.episodios small {
    font-size: 11px;
    color: #76787a;
}

.anuncio {
    background-color: #151719;
    text-align: center;
}

.anuncio-embaixo {
    padding: 9 0 9 0;
}

#lancamentos .anuncio-embaixo {
    grid-column: 1/4;
}

#grid-anuncios {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 15px;
}

#grid-anuncios .anuncio {
    color: #555759;
    font-size: 11px;
    letter-spacing: 3px;
    padding: 0 1em 0 1em;
}

#neste-momento .cabecario, #enviados-recentemente .cabecario {
    margin: 40 0 20 0;
}

.grid-episodios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
}

.grid-episodios .anuncio-embaixo {
    grid-column: 1/5;
}

.episodios img, #grid-anuncios img {
    width: 100%;
}

footer {
    background-color: #222426;
    margin-top: 20px;
}

footer p {
    float: left;
}

footer a {
    color: #fff;

}

footer nav {
    float: right;
    color: #fff;
}

header nav a:hover {
    background-color: #2cbf63;
}

#login a:hover, .cabecario a:hover, .grid-episodios h1:hover {
    color: #fff;
}

.grid-episodios h1:hover, footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    .container {
        width: 90%;
    }
    
    .grid-episodios {
        grid-template-columns: 100% !important;
    }

    .anuncio {
        display: none;
    }

    #grid-lancamentos {
        grid-template-columns: 100%;
    }

    #top-nav .left, #search-icon {
        display: none;
    }

    #nav-icon {
        display: block;
        line-height: 5px;
    }

    footer nav {
        float: left;
    }
}
